# Database connection information
DATABASE_URL=postgres://neondb_owner:npg_CtOA4Kz9XLrD@ep-lucky-lake-a2ko0mro-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require
# Secret key for authentication. (You can use Online UUID generator: https://www.uuidgenerator.net)
AUTH_SECRET=
# Github OAuth App ID & Secret see https://authjs.dev/getting-started/providers/github
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=