
.meal {display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;


  & div {display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: min-content;
  justify-items: center;}

   & img {
      aspect-ratio: 1/1;
      border-radius: 50%;
      cursor: pointer;
  
    }

    & p {
      font-size: large;
      font-style: italic;
      color: green;
    } 


}