.meal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1px;
  justify-content: center;


  & img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
  }

  & p {
    font-size: large;
    font-style: italic;
    color: green;
  }


}

.title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: min-content;
  justify-items: center;
  align-items: center;
}


.btn_title_underline {
  text-decoration: underline;
}

.btn_title {
  text-decoration: none;
}



@media (min-width: 1024px) {
  .meal {
    gap: 10px;
   
  }



}