.menu_user_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1px;

    /* overflow: hidden;
    width: min-content;
    gap: 1px; */

    /* & div {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    & button {

        border: 1px solid gray;
        border-radius: 5px;
        font-size: small;
        font-weight: bold;
        color: white;
        /* background-color: green; */
    
    }

}

.menu_user {
    display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #dcdcdc;
  margin: 3px;
  padding: 2px;
  justify-content: space-between;
}


@media (min-width: 550px) {

    .menuuser {
        
        gap: 5px;
    }

  }

  @media (min-width: 800px) {
    .menuuser {
       
        flex-wrap: nowrap;
      
        gap: 10px;
    }

  }