.dish {
    box-sizing: border-box;
    max-width: min-content;
    /* background-color: #dcdcdc; */
    overflow-y: auto;
    padding: 0.2em;
  
    display: flex;
    color: black;
   flex-direction: column;

}

    .one_dish {
        /* display: flex;
        flex-direction: column; */
        /* background-color: #dcdcdc; */
        /* border-radius: 1em; */
        /* margin: 0.5em; */
      
        /* border: 1px solid green; */
        min-width: min-content;

       
        & span {
            color: rgb(2, 49, 2);
            font-weight:lighter;
            font-family: 'Courier New', Courier, monospace;
        }

        & button {

            border: 1px solid gray;
            border-radius: 5px;
            font-size: small;
            font-weight: bold;
            color: white;
            background-color: green;

        }

        & img {
            aspect-ratio: 1/1;
            /* border-radius: 50%; */
            cursor: pointer;
        }

    }


   


    & fieldset {

        display: flexbox;


        & fieldset:hover {
            cursor: pointer;
        }
    }
