.header {
  display: none;
  justify-content: flex-start;
  padding: 2px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  gap: 5px;
  top: 0px;
 }


.logo {
  /* width: auto;
  height: auto; */
  max-width: min-content;
  animation: logo-spin infinite 20s linear;
  border-radius: 50%;
  aspect-ratio: 1/1;
  /* position: sticky;
  right: 100px; */
  /* top: 0px; */
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: flex-start;
    padding: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    gap: 5px;
    top: 0px;

  }



}


.span_burger {
  border-radius: 10px;
  display: block;
  width: 40px;
  height: 3px;
  /* margin-bottom: 10px; */
  background-color: black;

}

/* логотип тарелка  */
.dish_logo {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: 1s;
  & :hover {cursor: pointer; transform: scale(1.2); }
}


.dish_logo_img {
  animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}



@keyframes blink {
 0% {
  opacity: 1;
    visibility: visible;
  }

  50% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
