.header {
  display: flex;
  justify-content: flex-start;
  padding: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  gap: 5px;
}


.logo {

  background-color: rgb(175, 248, 175);
  /* height: 3em; */
  padding: 0.2em;
  will-change: filter;
  transition: filter 300ms;
  /* position:static;
    left: 0;
    top: 0; */
  animation: logo-spin infinite 20s linear;
  border-radius: 50%;
  /* border: 1px solid black; */

  /* min-width: 70px; */
  aspect-ratio: 1/1;




  &:hover {
    filter: drop-shadow(0 0 10em #075f22aa);

  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}