.calc {
    margin: 30px;
    display: flex;
    flex-direction: column;
    border: 3px solid #0c8343;
    text-align: center;
    /* width: 800px; */
    align-items: center;
    min-height: min-content;
    background-color: #d7f7e5ee;
    color: black;

    /* flex-wrap: wrap; */

    & button {

        height: 80px;
        width: 220px;
        border: 2px solid #0c8343;
        border-radius: 5px;
        font-size: medium;
        font-weight: bold;
        text-align: center;
        margin: 10px;
    }


    & input {
        height: 40px;
        width: 220px;
        border: 2px solid #0c8343;
        border-radius: 5px;
        text-align: center;
        color: #064423;
        font-size: large;
    }

    & select {
        height: 40px;
        width: 220px;
        border: 2px solid #0c8343;
        border-radius: 5px;
        text-align: center;

    }

    & h3 {
        background-color: #0c8343;
    }

}

/* .lighting {
    background-color: green;
} */